<div class="top_menu">
<a href="/new">Submit</a>

</div>

<% @stories.each do |story| %>

<div class="story-body">
	<a href="<%= story.id %>"><h2><%= story.title %></h2></a>
	<%= story.body %>
</div>

<div class="votes">
<form action="/<%= story.id %>/up_votes" method="post">
<input type="submit" name="upvoted" value="upvote" />
</form>

<form action="/<%= story.id %>/down_votes" method="post">
<input type="submit" name="downvoted" value="downvote" />
</form>
</div>

<form action="/<%= story.id %>/delete" method="post">
				<button type="submit">remove</button>
</form>

<% end %>



