<div class='nav_bar'>
	<span class='left_nav'>
		<img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-ash4/260393_181496591905630_724195_n.jpg" alt="hn favicon" width=15px/>
		<strong>Hacker News</strong>
		<a href="/index/new">new | </a>
		<a href="/index">threads | </a>
		<a href="/index/new">comments | </a>
		<a href="/index/new">ask | </a>
		<a href="/index/new">jobs | </a>
		<a href="/index/new">submit</a>
	</span>
	<span class='right_nav'>
		<a href="/index/new">user(0) | </a>
		<a href="/index/new">logout</a>
	</span>
</div>

<div class='row'>
	<% @posts.each do |post| %>
	<a href="<%= post["link"] %>"><%= post["title"] %></a>
	<p><%= post["up_votes"] %>	
	<%= post["down_votes"] %>
	<%= post["timestamp"] %></p>
	<% end %>
</div>