<% @stories.each do |story| %>
<div class="title"><a href="/hackernews/<%= story["id"] %>">Title: <%= story["title"] %></a></div>
<div class="url">URL: <%= story["url"] %></div>
<div class="body">Body: <%= story["body"] %></div>
<div class="upvotes">Upvotes: <%= story["upvotes"] %></div>
<div class="downvotes">Downvotes: <%= story["downvotes"] %></div>

<form action="/hackernews/<%= story["id"] %>/upvotes" method="post"><input type="submit" name="upvoted" value="upvote" />
</form>

<div class="edit"><a href="/hackernews/<%= story["id"] %>/edit">Edit Post</a></div>

<form action="/hackernews/<%= story["id"] %>/delete" method="post"><input type="submit" name="delete story" value="delete" />
</form>

<% end %>

<a href='/hackernews/new'>Submit a Story</a>