<div class='row'>
<% @posts.each do |post| %>
<a href="<%= post["link"] %>"><%= post["title"] %></a>
<%= post["body"] %>
<%= post["up_votes"] %>
<%= post["down_votes"] %>
<%= post["timestamp"] %>
<% end %>
</div>