<h2><%= @post.title %></h2>
Time Created: <%= @post.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") %>
<br/>
Link:  <%= @post.link %><br/>
Body:  <%= @post.body %><br/>
Up-Votes:  <%= @post.up_votes %><br/>
Down-Votes:  <%= @post.down_votes %>


	<form action="/posts/<%= @post.id %>/upvote" method="post">
		<input type="submit" name="delete post" value="upvote" />
	</form>

	<form action="/posts/<%= @post.id %>/downvote" method="post">
		<input type="submit" name="delete post" value="downvote" />
	</form>