<h2><%= @post.title %></h2>
<p>
	<em><%= @post.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") %></em>
	<br/><br/>
	Article URL: <%= @post.link %><br/><br/>
	</p>

	<table width="780px">
		<tr>
		<td width="100px" valign="top">
				<p><strong>Up-Votes:  <%= @post.up_votes %><br/>
					Down-Votes:  <%= @post.down_votes %></strong></p>
				</td>

				<td valign="top">
					<div class="buttons">
						<ul>
							<li>
								<form action="/posts/<%= @post.id %>/upvote" method="post">
									<button type="submit">Upvote</button>
								</form>
							</li>

							<li>
								<form action="/posts/<%= @post.id %>/downvote" method="post">
									<button type="submit">Downvote</button>
								</form>
							</li>

							<li>
								<form action="/posts/<%= @post.id %>/delete" method="post">
									<button type="submit">Remove</button>
								</form>
							</li>

							<li>
								<form action="/posts/<%= @post.id %>/edit" method="get">
									<button type="submit">Edit</button>
								</form>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</table>

		<p style="text-align: justify"><%= @post.body %></span><br/>
		</p>

	

		<h3>Comments:</h3> 
		<p>
		<% @post.comments.each do |comment| %>
			<table width="760px"><tr>
			<td width="125px">
			<form action="/comment/<%= comment.id %>/upvote" method="post">
				<button type="submit">Upvote (<%= comment.up_votes %>)</button>
			</form></td>

			<td><p>
			<font style="font-size:14px; font-weight:bold"><%= comment.author %></font><br/>
			<%= comment.created_at.strftime("Submitted %m/%d/%Y at %I:%M%p") %><br/><br/>
			<%= comment.body %>
			</p>

			</td>

			<td width="100px" align="right">
			<form action="/comment/<%= comment.id %>/delete" method="post">
				<button type="submit">Delete</button>
			</form></td>

			</tr></table>
			
		</p>
			<% end %>

<br/>
			<h3>Submit a comment</h3>
		<p>
	<form action="/comment/<%= @post.id %>/new" method="post">
		<div><label for="author">Author:</label><input type="text" name="author" class="fieldset" /></div><br/>
		<div><label for="body">Body:</label><textarea name="body" cols="60" rows="10" class="fieldset"></textarea></div>
		<br/><br/>
		<button type="submit" class="button_margin">Submit comment</button>
	</form>
</p>
		</p>




