<a href="/hackernews/<%= @post.id %>"><h2><%= @post.title %></h2></a>
<div class="link"><p><%= @post.link %></p></div>
<div class="post-body"><%= @post.body %></div>

<form action="/hackernews/<%= @post.id %>/edit" method="post">
	<button type="submit">Edit Post</button>
</form>

<form action="/hackernews/<%= @post.id %>/destroy" method="post">
	<button type="submit">Delete Post</button>
</form>