<div class="post container">
  <% @posts.each do |post| %>
    <a href="/posts/<%= post.id %>"><h2><%= post.title %></h2></a>
    <h4><%= post.created_at.strftime("Created on %m/%d/%y at %I:%M%p") %></h3>
    <h4>Link: <%= post.link %></h4>
  <div class="post-votes">
    <form action="/posts/<%= post.id %>/upvote" method="post">
      <input type="submit" name="Up Vote" value="upvote" />
    </form>

    <form action="/posts/<%= post.id %>/downvote" method="post">
      <input type="submit" name="Down Vote" value="downvote" />
    </form>
    <h4>Total Votes: <%= post.up_votes - post.down_votes %></h4>
    <h5>Up Votes (ordering by upvotes): <%= post.up_votes %></h5>
  <div class="post-body">
    <%= post.body  %>
  </div>
  <br/>

  <div class="edit post container">
    <a href="/posts/<%= post.id %>/edit">Edit Post</a>
  </div>
  

  <div class="delete post container">
    <form action="/posts/<%= post.id %>/delete" method="post">
      <input type="submit" name="Delete Post" value="delete" />
    </form>
  </div>
<% end %>

<div>
  <a href='/posts/new'>New Post</a>
</div>