<h2><%= @post.title %></h2>
<h3><%= @post.created_at.strftime("Created on %m/%d/%y at %I:%M%p") %></h3>
<h3>Link: <%= @post.link %></h3>
<br/>
<h4>Up Votes: <%= @post.up_votes %></h4><h4> Down Votes: <%= @post.down_votes %></h4> 
<div class="post-body">
  <%= @post.body %>
</div>

<div class="comments">
 <% @post.comments.each do |comment| %>
 Author: <%= comment.author %>
 Comment: <%= comment.body %>
 <% end %>
</div>

<form action="/posts/<%= @post.id %>/upvote" method="post">
  <input type="submit" name="Up Vote" value="upvote" />
</form>

<form action="/posts/<%= @post.id %>/downvote" method="post">
  <input type="submit" name="Down Vote" value="downvote" />
</form>