
<% @newslinks.each_with_index do |newslink, index| %>
  <div class="post">
  <%=(index+1)%>.  <a href="<%=newslink.link%>"><%= newslink.title %></a>

  <div class="info">
  
  <% points = newslink.up_votes + newslink.down_votes %> <%=points%> points; created at <%=newslink.created_at%>
  </div>
  
  <div class="voting">  
    <form action="/newslink/<%= newslink.id %>/up_vote" method="post">
      <button name="up_votes" type="submit" value=1>Up Vote</button>
    </form>

    <form action="/newslink/<%= newslink.id %>/down_vote" method="post">
    <button name="down_votes" type="submit" value=1>Down Vote</button>
    </form>
  </div>
</div>
<% end %>