<h2><%= @story.title %></h2>

<div>
	Author: <%= @story.author %>
</div>

<div>
	Title: <%= @story.title %>
</div>

<div>
	Body: <%= @story.body %>
</div>

<a href="/<%= @story.id %>/edit"><h2>Update Story</h2></a>