<div class="title"><%= @story.title %></div>
<div class="url"><%= @story.url %></div>
<div class="body"><%= @story.body %></div>
<div class="upvotes"><%= @story.upvotes %></div>
<div class="downvotes"><%= @story.downvotes %></div>